/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */

:root {
  --primary_color: #18181b;
  --secondary_colour: #f4f4f5;
  --tertiary_color: #00e0e1;
  --quaternary_color: #3f3f46;
}

/* Typography */
html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: false;
  line-height: 1.65;
  background: var(--primary_color);
  color: var(--secondary_colour);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

p {
  font-size: 1em;
  margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 4.21em;
}

h2,
.text-size-h2 {
  font-size: 3.16em;
}

h3,
.text-size-h3 {
  font-size: 2.37em;
}

h4,
.text-size-h4 {
  font-size: 1.78em;
}

h5,
.text-size-h5 {
  font-size: 1.33em;
}

.text-caption {
  font-size: 0.75em;
}

small,
.text-small {
  font-size: 0.56em;
}

/* Other Styles */

a {
  color: var(--secondary_colour);
  text-decoration: none;
}

section {
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  background: linear-gradient(to right, var(--tertiary_color), #ffc8dd);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--primary_color);
}

.btn:hover {
  background: transparent;
  color: var(--secondary_colour);
  border: 1px solid var(--secondary_colour);
}

/* Container Styles */
.container {
  width: 1200px;
  margin: 0 auto;
}
/* Navbar */
.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.navbar p {
  font-weight: bold;
  margin-bottom: 0;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  margin-right: 10px;
}

/* Footer */
footer {
  background-color: var(--quaternary_color);
  color: var(--secondary_colour);
  padding: 10px;
  text-align: center;
  margin-top: auto;
  width: 100%;
}

/* Success and Error Messages */
.message {
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  background-color: #00ff00;
  color: #000;
}

.error {
  background-color: #ff0000;
  color: #fff;
}

/* Animation for Message Disappearance */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.message.fade-out {
  animation: fadeOut 5s;
}

/* Login Page */

.login {
  padding: 20px;
}

.login input {
  width: 28rem;
  padding: 0.5rem 0.75rem;
  background: var(--quaternary_color);
  border-color: transparent;
  border-radius: 4px;
  color: var(--secondary_colour);
  margin-bottom: 10px;
}

/* signup Page */

.signup {
  padding: 20px;
}

.signup input {
  width: 28rem;
  padding: 0.5rem 0.75rem;
  background: var(--quaternary_color);
  border-color: transparent;
  border-radius: 4px;
  color: var(--secondary_colour);
  margin-bottom: 10px;
}

/* Posts */
.posts {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.posts_container{
  display: flex;
  flex-direction: column;
}

.post_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.sidebar {
  padding: 20px;
}

/* Create-Post */

.heading_post {
  margin-bottom: 2.5rem;
}

.create-post {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

.create-post label {
  display: block;
}

.create-post input {
  display: block;
  width: 28rem;
  padding: 0.5rem 0.75rem;
  background: var(--quaternary_color);
  border-color: transparent;
  border-radius: 4px;
  color: var(--secondary_colour);
}

.create-post select {
  width: 28rem;
  padding: 0.5rem 0.75rem;
  background: var(--quaternary_color);
  border-color: transparent;
  border-radius: 4px;
  color: var(--secondary_colour);
}

.create-post option {
  background: var(--quinary_color); /* adjust as needed */
  color: var(--primary_color); /* adjust as needed */
}

.post_btn {
  display: flex;
  gap: 17px;
}

.tox .tox-tinymce {
  height: 350px;
}

/* Calendar */
#calendar {
  width: 100%;
  border-collapse: collapse;
}

#calendar h2 {
  text-align: center;
  color: var(--secondary_colour);
  font-size: 1.2em;
}

.week {
  display: flex;
  justify-content: space-between;
}

.day {
  width: 14%;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.day a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.day a:hover {
  background-color: #a1a1aa;
}

.post-day {
  background-color: var(--tertiary_color);
  color: var(--primary_color);
}

/* Index Page */
/**** Hero Section ****/

.hero {
  padding: 20px 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 70%;
  width: 500px;
  height: 500px;
  background: radial-gradient(
    circle at center,
    var(--tertiary_color),
    transparent
  );
  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: blur(150px);
  z-index: -1;
}

/**** Features Section ****/

.features {
  position: relative;
}

.features::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20%;
  width: 400px;
  height: 200px;
  background: radial-gradient(circle at center, #ffc8dd, transparent);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: blur(100px);
  z-index: -1;
}

.features h2 {
  margin-bottom: 20px;
  text-align: center;
}

.feature_card {
  display: flex;
  gap: 5px;
  padding: 20px;
  border-radius: 12px;
  align-items: center;
}

.feature_card p {
  margin-bottom: 0;
}

.feature_card img {
  width: 45px;
  height: 45px;
}

.feature_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

/**** Post Page ****/

article img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

article ul {
  margin-bottom: 10px;
}

article li {
  margin-bottom: 5px;
}

article code {
  font-family: "Space Mono", sans-serif;
  background-color: var(--quaternary_color);
  padding: 2px 4px;
  border-radius: 4px;
}

article pre {
  font-family: "Space Mono", sans-serif;
  background-color: var(--quaternary_color);
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

article blockquote {
  margin: 0;
  padding: 10px;
  border-left: 4px solid var(--quaternary_color);
  font-style: italic;
  quotes: "\201C""\201D""\2018""\2019";
}
article blockquote p {
  display: inline;
}

article blockquote::before {
  content: open-quote;
}
article blockquote::after {
  content: close-quote;
}

article a h2{
  color: var(--tertiary_color);
  text-decoration: none;
}

article a h2:hover {
  border-bottom: 5px dashed var(--tertiary_color);
  border-bottom-style: dashed;
}


/* Mobile styles */
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }

  .navbar{
    margin-bottom: 1em;
    padding: 0 20px;
    width: 100%;
  }

  .hero::before {
    width: 250px;
    height: 300px;
  }
  .feature_wrapper {
    grid-template-columns: 1fr;
  }
  .posts{
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .create-post input {
    width: 100%;
  }
  .create-post select {
    width: 100%;
  }
  .login input {
    width: 100%;
  }
  .signup input {
    width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: true;
    line-height: 1.15;
  }

  h1,
  .text-size-h1 {
    font-weight: 600;
    margin-top: 0;
    font-size: 1.8em;
  }

  h2,
  .text-size-h2 {
    font-size: 1.6em;
  }

  h3,
  .text-size-h3 {
    font-size: 1.42em;
  }

  h4,
  .text-size-h4 {
    font-size: 1.27em;
  }

  h5,
  .text-size-h5 {
    font-size: 1.13em;
  }

  .text-caption {
    font-size: 0.89em;
  }

  small,
  .text-small {
    font-size: 0.79em;
  }
  .heading_post {
    margin-bottom: 1.5rem;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }

  .navbar{
    margin-bottom: 1em;
    padding: 0 20px;
    width: 100%;
  }

  .hero::before {
    width: 250px;
    height: 300px;
  }
  .feature_wrapper {
    grid-template-columns: 1fr;
  }
  .posts{
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .create-post input {
    width: 100%;
  }
  .create-post select {
    width: 100%;
  }
  .login input {
    width: 100%;
  }
  .signup input {
    width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: true;
    line-height: 1.15;
  }

  h1,
  .text-size-h1 {
    font-weight: 600;
    margin-top: 0;
    font-size: 1.8em;
  }

  h2,
  .text-size-h2 {
    font-size: 1.6em;
  }

  h3,
  .text-size-h3 {
    font-size: 1.42em;
  }

  h4,
  .text-size-h4 {
    font-size: 1.27em;
  }

  h5,
  .text-size-h5 {
    font-size: 1.13em;
  }

  .text-caption {
    font-size: 0.89em;
  }

  small,
  .text-small {
    font-size: 0.79em;
  }
  .heading_post {
    margin-bottom: 1.5rem;
  }
}

/* Laptop Screens */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }

  .navbar{
    margin-bottom: 1em;
    padding: 0 20px;
    width: 100%;
  }

  .hero::before {
    width: 250px;
    height: 300px;
  }
  .sidebar {
    width: 100%;
  }

  .create-post input {
    width: 100%;
  }
  .create-post select {
    width: 100%;
  }
  .login input {
    width: 100%;
  }
  .signup input {
    width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: true;
    line-height: 1.15;
  }

  h1,
  .text-size-h1 {
    font-weight: 600;
    margin-top: 0;
    font-size: 1.8em;
  }

  h2,
  .text-size-h2 {
    font-size: 1.6em;
  }

  h3,
  .text-size-h3 {
    font-size: 1.42em;
  }

  h4,
  .text-size-h4 {
    font-size: 1.27em;
  }

  h5,
  .text-size-h5 {
    font-size: 1.13em;
  }

  .text-caption {
    font-size: 0.89em;
  }

  small,
  .text-small {
    font-size: 0.79em;
  }
  .heading_post {
    margin-bottom: 1.5rem;
  }
}

/* Desktop Screens */
@media only screen and (min-width: 1024px) and (max-width: 1200px){
  .container {
    width: 100%;
    padding: 0 20px;
  }

  .navbar{
    margin-bottom: 1em;
    padding: 0 20px;
    width: 100%;
  }

  .hero::before {
    width: 250px;
    height: 300px;
  }

  .sidebar {
    width: 100%;
  }

  .create-post input {
    width: 100%;
  }
  .create-post select {
    width: 100%;
  }
  .login input {
    width: 100%;
  }
  .signup input {
    width: 100%;
  }
  
  .heading_post {
    margin-bottom: 1.5rem;
  }
}
