<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <p><a href="/index">Memoir</a></p>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{{ url_for('views.posts', username=current_user.username) }}">My Posts</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </nav>
    {% with messages = get_flashed_messages(with_categories=True) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="error"><p class="message">{{ message }}</p></div>
    {% else %}
    <div class="success"><p class="message">{{ message }}</p></div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <main class="container">{% block content %}{% endblock %}</main>
    <footer>
      <p>&copy; {{ current_year }} Memoir All rights reserved.</p>
    </footer>
    <script src="https://cdn.tiny.cloud/1/{{ tinymce_api_key }}/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#text',
        plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak codesample',
        toolbar_mode: 'floating',
      });
    </script>
</html>
