{% extends "base.html" %} {% block title %}Create Post{% endblock %} {% block
content %}
<h1>Make a Post</h1>

<form method="POST" class="create-post">
  <label for="title">Title:</label>
  <textarea name="title" id="title" class="title_post"></textarea>
  <label for="text">Text:</label>
  <textarea name="text" id="text" class="text_post tinymce"></textarea>
  <label for="category">Category:</label>
  <select name="category" id="category">
    {% for category in categories %}
    <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
  </select>
  <label for="new_category">Or create a new category:</label>
  <input type="text" name="new_category" id="new_category" />
  <br />
  <div>
    <button type="submit" class="btn">Post</button>
  </div>
</form>

<a href="/index"><button type="button" class="btn">Back</button></a>

{% endblock %}
