{% extends "base.html" %} {% block title %}Create Post{% endblock %} {% block
content %}
<h1 class="heading_post">Make a Post</h1>

<form method="POST" class="create-post">
  <label for="title"
    >Title:
    <input name="title" id="title" class="title_post" />
  </label>
  <label for="text"
    >Text:
    <textarea name="text" id="text" class="text_post tinymce"></textarea>
  </label>
  <label for="category">Category:</label>
  <select name="category" id="category">
    {% for category in categories %}
    <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
  </select>
  <label for="new_category">Or create a new category:</label>
  <input type="text" name="new_category" id="new_category" />
  <div class="btn_post">
    <button type="submit" class="btn">Post</button>
    <a href="/index"><button type="button" class="btn">Back</button></a>
  </div>
</form>


{% endblock %}
