{% extends "base.html" %}{% block title %}Login{% endblock %} {% block content %}
<div class="login">
  <h1>Login</h1>
  <br>

  <form method="POST" action="/login">
    <div class="email">
      <input type="email" name="email" placeholder="Your Email" autofocus="" />
    </div>

    <div class="password">
      <input type="password" name="password" placeholder="Your Password" />
    </div>
    <!-- <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div> -->
    <button class="btn">Login</button>
  </form>
  <p >Don't have an account? <a href="/signup">Register</a></p>
</div>

{% endblock %}
