{% extends 'base.html' %} {% block title %}Posts{% endblock %} {% block content
%}
<div class="posts">
  <navbar class="sidebar">
    <ul>
      <li><a href="../create-post">Create Post</a></li>
      <li>
        <div id="calendar">
          <h3>{{ datetime(year, month, 1).strftime('%B %Y') }}</h3>
          {% for week in calendar.monthcalendar(year, month) %}
          <div class="week">
            {% for day in week %}
            <div class="day">
              {% if day != 0 %}
              <a
                href="{{ url_for('views.posts', username=current_user.username, year=year, month=month, day=day) }}"
                class="{{ 'post-day' if datetime(year, month, day).date() in post_dates else '' }}"
              >
                {{day}}
              </a>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </li>
    </ul>
  </navbar>
  <article>
    {% for post in posts %}
    <a href="/post/{{post.id}}">
      <h2>{{ post.title }}</h2>
    </a>
    <p>{{ post.date_created }}</p>
    {% endfor %}
  </article>
</div>
{% endblock %}
