{% extends 'base.html' %} {% block title %}Posts{% endblock %} {% block content
%}
<div class="posts">
  <navbar class="sidebar">
    <ul>
      <li><a href="../create-post">Create Post</a></li>
      <li>
        <div id="calendar">
          <h3>{{ datetime(year, month, 1).strftime('%B %Y') }}</h3>
          {% for week in calendar.monthcalendar(year, month) %}
          <div class="week">
            {% for day in week %}
            <div class="day">
              {% if day != 0 %}
              <a
                href="{{ url_for('views.posts', username=current_user.username, year=year, month=month, day=day) }}"
                class="{{ 'post-day' if datetime(year, month, day).date() in post_dates else '' }}"
              >
                {{day}}
              </a>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </li>
    </ul>
  </navbar>
  <div class="posts_container">
    {% for post in posts[-5:] %}
    <div class="post_wrapper">
      <div class="content">
        <a href="/post/{{post.id}}">
          <h2>{{ post.title }}</h2>
        </a>
        <p>{{ post.date_created }}</p>
      </div>
      <a href="/delete-post/{{post.id}}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="#e90101"
          viewBox="0 0 256 256"
        >
          <path
            d="M200,56V208a8,8,0,0,1-8,8H64a8,8,0,0,1-8-8V56Z"
            opacity="0.2"
          ></path>
          <path
            d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM96,40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96Zm96,168H64V64H192ZM112,104v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Z"
          ></path>
        </svg>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
