{% extends "base.html" %}{% block title %}Register{% endblock %} {% block content %}
<div class="signup">
  <h3>Sign Up</h3>
  <br>
  <form method="POST" action="/signup">
    <div class="email">
      <input type="email" name="email" placeholder="Email" autofocus="" />
    </div>

    <div class="username">
      <input type="text" name="username" placeholder="Username" autofocus="" />
    </div>

    <div class="password">
      <input type="password" name="password" placeholder="Password" />
    </div>

    <button class="btn">Sign Up</button>
  </form>
</div>
{% endblock %}
